<div class="mt-8">
  {{#each post as |post| }}
  <div class="bg-white rounded-lg shadow-md p-6">
    <div class="flex">
      <div class="w-full">
        <h2 class="text-2xl font-medium">
          <a class="text-blue-500" href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
        <p class="text-gray-600">Created by {{post.user.name}} on {{format_date date_created}}</p>
      </div>
    </div>
    <div class="mt-6">
      <p class="text-gray-700">
        {{post.body}}
      </p> 
    </div>
  </div>
  {{/each}}
</div>